{% extends "base.html" %}

{% block content %}
  <style>
  ::-webkit-input-placeholder {
     text-align: center;
  }
  
  :-moz-placeholder { /* Firefox 18- */
     text-align: center;  
  }
  
  ::-moz-placeholder {  /* Firefox 19+ */
     text-align: center;  
  }
  
  :-ms-input-placeholder {  
     text-align: center; 
  }
  </style>
  <div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default text-center" style="margin-top: 20%;">
    <div class="panel-heading">
      <h3 style="margin: 5px 0px;">Log In</h3>
    </div>
    <div class="panel-body">
      <form action="{{ url_for('login') }}" method="post">
        {% if error %}<p class="text-danger"><strong>Error:</strong> {{ error }}{% endif %}
        <div class="form-group">
          <input type="text" name="username" class="form-control text-center" id="login_username" placeholder="Username">
        </div>
        <div class="form-group">
          <input type="password" name="password" class="form-control text-center" id="login_password" placeholder="Password">
        </div>
        <input type="hidden" name="next" value="{{ request.args.get('next', '/') }}"/>
        <input type="submit" value="Submit" class="btn btn-primary">
      </form>
    </div>
  </div>
  </div>

{% endblock %}

