@font-face {
  font-family: 'PatternFlyIcons-webfont';
  src: url('/static/fonts/PatternFlyIcons-webfont.woff') format('woff');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('/static/fonts/fontawesome-webfont.woff') format('woff');
}
#ForcedLayoutGraphContainer{
  position: relative;
  background-color: white;
  z-index:2;
}

#HiveGraphContainer{
  margin-top: -600px;
  background-color: white;
  position: relative;
  z-index:1;
  pointer-events:none;
}

#topology-graph, #HiveChart {
  height: 600px;
}

.topology-tooltip {
  h3 {
    margin-bottom: 20px;
  }
  > .topology-legend {
    @extend .text-center;
  }
}

.topology-legend {
  padding: 12px 0px;
  > div {
    display: inline-block;
    width: calc(33% - 2px);
    text-align: center;
    vertical-align: middle;
    padding-bottom: 10px;
  }
  .topology-filter-checkbox{
    display:none;
  }
  svg.filterDisabled{
    filter: opacity(0.2);
  }
}

#HiveChart{
  g.node > circle {
      stroke: #aaa;
      fill: #fff;
      stroke-width: 1px;
  }
}


.kube-topology {
  height: 600px;
  line {
    stroke: #aaa;
    stroke-width: 1;
    &.ReplicationControllerPod {
      stroke-linecap: round;
      stroke-dasharray: 5, 2;
    }
  }
  g {
    font-family: PatternFlyIcons-webfont;
    font-size: 18px;
    text-anchor: middle;
    cursor: pointer;
    text {
      stroke: none;
      stroke-width: 0px;
    }
    circle {
      stroke: #aaa;
      fill: #fff;
    }
    &.weak use {
      opacity: .6;
    }
    &.fixed use {
      stroke-width: 2px;
    }
    &.selected use,
    &.selected circle {
      stroke-width: 4px;
    }
    &.Pod text {
      font-family: FontAwesome;
      font-size: 16px;
      fill: #1186C1;
    }
    &.Node text {
      fill: #636363;
    }
    &.Service text {
      fill: #ff7f0e;
    }
    &.Deployment text {
      fill: #9467bd;
      font-size: 20px;
    }
    &.Namespace text {
      fill: #666;
      font-family: FontAwesome;
      font-size: 16px;
    }
  }
}

.kindInfo{
  width: 35px;
  height: 35px;
}

 .axis {
    stroke: #666;
  }

  .axis, .node circle {
    fill: #fff;
    stroke-width: 1.5px;
  }

  .tooltip {
    position: absolute;
    padding: 5px 10px;
    font: 12px sans-serif;
    background: #fff;
    border: 1px solid #000;
    pointer-events: none;
  }

  .link {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    stroke-opacity: .3;
  }

  .link.active, line.active {
    stroke: red;
    stroke-width: 2px;
    stroke-opacity: 1;
  }
