// *****************************************************************************
// Variables
// *****************************************************************************


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$mira-red:               #e02d3a;
$mira-green:             #4bbfaf;
$mira-blue:              #004d99;
$mira-orange:            #cc9900;
$mira-purple:		 #2e1727;
$mira-purple-light:	 #5b244a;

$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray-mira-dark:         #424242;
$gray:                   #6e6e6e !default;
$gray-mira-transparent:  rgba(49, 49, 49, 0.7);
$gray-light:             #BBB !default;
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

$brand-primary:          $mira-green;
$brand-success:          lighten($mira-green, 15%);
$brand-info:             $mira-blue;
$brand-warning:          $mira-orange;
$brand-danger:           $mira-red;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:                #eee;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-weight:    300;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$border-radius-base:        0px;
$border-radius-large:       0px;
$border-radius-small:       0px;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-primary-border:             $brand-primary;
$btn-success-border:             $brand-success;
$btn-info-border:                $brand-info;
$btn-warning-border:             $brand-warning;
$btn-danger-border:              $brand-danger;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:         4px;
$btn-border-radius-large:        6px;
$btn-border-radius-small:        3px;


//== Navbar
//
//##

// Basics of a navbar

$navbar-height:			            56px;
$navbar-margin-bottom:                      40px;
$navbar-default-color:                      $mira-purple;
$navbar-default-bg:                         #fff;
$navbar-default-border:                     $navbar-default-color;

// Navbar links
$navbar-default-link-color:                 $brand-primary;
$navbar-default-link-hover-color:           darken($navbar-default-link-color, 6.5%);
$navbar-default-link-active-color:          $navbar-default-link-hover-color;

// Navbar toggle
$navbar-default-toggle-hover-bg:            transparent;
$navbar-default-toggle-icon-bar-bg:         $brand-primary;
$navbar-default-toggle-border-color:        transparent;

//=== Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      #fff;
$navbar-inverse-bg:                         $mira-purple;
$navbar-inverse-border:                     $navbar-inverse-bg;

$navbar-inverse-link-color:                 #eee;
$navbar-inverse-link-hover-color:           #fff;
$navbar-inverse-link-hover-bg:              $mira-purple-light;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            transparent;
$navbar-inverse-toggle-border-color:        transparent;

//== Pagination
//
//##

$pagination-border:                    transparent;
$pagination-hover-border:              transparent;
$pagination-active-border:             transparent;
$pagination-disabled-border:           transparent;

//== Tooltips
//
//##

$tooltip-bg:                  $brand-primary;

