Flask==0.12.2
Flask-Babel=0.11.2
Flask-JWT==0.3.2
flask-swagger-ui
kubernetes
python-etcd
python-jenkins
pyyaml
requests
gunicorn

# dev
coveralls
faker
flake8
ipython
pytest
pytest-cov
pytest-env
pytest-flask
pytest-ordering
sphinx
sphinx-autobuild
sphinx_rtd_theme
