Flask==0.12.2
Flask-JWT==0.3.2
git+https://github.com/atengler/flask-swagger-ui.git@3.4.3-update#flask_swagger_ui
kubernetes
python-etcd
python-jenkins
pyyaml
requests
gunicorn

# dev
coveralls
faker
flake8
ipython
pytest
pytest-cov
pytest-flask
sphinx
sphinx-autobuild
sphinx_rtd_theme
