
{% macro render_form(form) %}
<form method="post" action=".">
    {{ form.hidden_tag() }}
    {% for field in form %}
      {% if not field.flags.hidden %}
      {{ render_field(field) }}
      {% endif %}
    {% endfor %}
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
{% endmacro %}

{% macro render_field(field) %}
  <div class="form-group">
    <label for="{{ field.id }}">{{ field.label }}</label>
    {{ field(class_="form-control")|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </div>
{% endmacro %}

