@import "kqueen/asset/dynamic/scss/partials/variables";
@import "kqueen/asset/dynamic/scss/partials/mixins";
@import "bootstrap";

/* CSS for Blog application. */

// *****************************************************************************
// Global
// *****************************************************************************

#content {
  margin-bottom: 50px;
}

ul.link-list {
  list-style-type: none;
  padding-left: 0px;
}

.page-header {
  padding-bottom: 8px;
  margin: 12px 0px 18px 0px;
}

// *****************************************************************************
// Navbar
// *****************************************************************************

.navbar {
  margin-top: 15px;
}

// *****************************************************************************
// Page
// *****************************************************************************

.page-header {
  border-bottom: 0;
  margin-top: 0;
}

// *****************************************************************************
// Flash Message
// *****************************************************************************

#flash-container {
  position: fixed;
  top: 25px;
  right: 0;
  z-index: 5050;
  margin: 0;
}

.alert-primary {
  background-color: $brand-primary;
  border-color: $brand-primary;
  color: #fff;

}

.alert-info {
  background-color: $brand-info;
  border-color: $brand-info;
  color: #fff;
}

.alert-success {
  background-color: $brand-success;
  border-color: $brand-success;
  color: #fff;
}

.alert-warning {
  background-color: $brand-warning;
  border-color: $brand-warning;
  color: #fff;
}

.alert-danger {
  background-color: $brand-danger;
  border-color: $brand-danger;
  color: #fff;
}

.alert-box-fixed {
  margin: 0 15px 15px 0;
}

// *****************************************************************************
// Form
// *****************************************************************************

.kill-box-shadow {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.has-error .form-control:focus {
  @extend .kill-box-shadow;
}

.form-control:focus {
  @extend .kill-box-shadow;
  border-color: $brand-primary;
}

.button-form {
  display: inline-block;
}

// *****************************************************************************
// Table
// *****************************************************************************

.table-container {
  margin: 20px 0px 50px 0px;
  .table-actions {
    padding: 12px 0px;
    text-align: right;
  }
  .table {
    .status_column {
      width: 100px;
    }
    .action_column {
      width: 200px;
    }
  }
}

.table-center {
  text-align: center;
  th {
    text-align: center;
  }
  th, td {
    vertical-align: middle !important;
  }
}

// *****************************************************************************
// Flicker on Load Fix for Glyphicons
// *****************************************************************************

.glyphicon {
  width: 14px;
  height: 14px;
}

// *****************************************************************************
// Footer
// *****************************************************************************

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  min-height: 50px;
  background-color: #666;
  color: #ccc;
  padding: 14px;
  a,
  a:hover,
  a:focus,
  a:active {
    color: #fff;
  }
}

