@import "kqueen/asset/dynamic/scss/partials/variables";
@import "kqueen/asset/dynamic/scss/partials/mixins";
@import "bootstrap";
@import "kqueen/asset/dynamic/scss/partials/k8s_vis";

/* CSS for Blog application. */

// *****************************************************************************
// Global
// *****************************************************************************

body {
  background-image: url('/static/img/iso-grid-floor.png');
  background-size: 150px, auto;
  background-color: #f5f5f5;
}

#content {
  margin-bottom: 50px;
}

ul.link-list {
  list-style-type: none;
  padding-left: 0px;
}

.page-header {
  padding-bottom: 8px;
  margin: 12px 0px 18px 0px;
}

.box {
  margin-bottom: 50px;
  @include prefix(box-shadow, 1px 1px 4px 0px rgba(187,187,187,1), webkit moz);
  background-color: #fff;
  border: 1px transparent;
  @extend .clearfix;
  @extend .well;
}

.box.overview {
  @extend .text-center;
  .btn {
    width: 100%;
    border-radius: 0px;
    border: none;
    @include prefix(box-shadow, inset 0 -1px 0 rgba(0,0,0,0.15), webkit moz);
  }
}


// *****************************************************************************
// Tabs
// *****************************************************************************

.nav-tabs > li.active > a {
  background-color: #fff;
  @include prefix(box-shadow, -1px -1px 4px -2px rgba(187,187,187,1), webkit moz);
  &:hover,
  &:focus,
  &:active {
    background-color: #fff;
    border-bottom-color: transparent;
  }
}

.tab-content {
  padding: 12px 24px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-color: transparent;
  @include prefix(box-shadow, -1px -1px 4px -2px rgba(187,187,187,1), webkit moz);
}

// *****************************************************************************
// Navbar
// *****************************************************************************

.navbar-inverse {
  .navbar-header {
    padding-right: 50px;
    .navbar-brand {
      padding: 0 10px;
      margin: 0;
      display: block;
          line-height: 56px;
      img {
        padding: 15px 0px;
        display: inline-block;
        max-height: 46px;
        vertical-align: middle;
      }
    }
  }
  .navbar-nav > li > a {
    font-size: 16px;
  }
}

.navbar-nav > li .dropdown-menu {
  background-color: $gray-mira-dark;
  border: 0px;
  border-radius: 0px;
  > .dropdown-header {
    font-size: 14px;
    color: #fff;
  }
  > li > a {
    color: #fff;
    font-size: 14px;
    &:hover,
    &:focus,
    &:active {
      color: $mira-green;
      background-color: transparent;
    }
  }
}

// *****************************************************************************
// Page
// *****************************************************************************

.page-header {
  border-bottom: 0;
  margin-top: 0;
}

// *****************************************************************************
// Flash Message
// *****************************************************************************

#flash-container {
  position: fixed;
  top: 25px;
  right: 0;
  z-index: 5050;
  margin: 0;
}

.alert-primary {
  background-color: $brand-primary;
  border-color: $brand-primary;
  color: #fff;

}

.alert-info {
  background-color: $brand-info;
  border-color: $brand-info;
  color: #fff;
}

.alert-success {
  background-color: $brand-success;
  border-color: $brand-success;
  color: #fff;
}

.alert-warning {
  background-color: $brand-warning;
  border-color: $brand-warning;
  color: #fff;
}

.alert-danger {
  background-color: $brand-danger;
  border-color: $brand-danger;
  color: #fff;
}

.alert-box-fixed {
  margin: 0 15px 15px 0;
}

// *****************************************************************************
// Form
// *****************************************************************************

.kill-box-shadow {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.has-error .form-control:focus {
  @extend .kill-box-shadow;
}

.form-control:focus {
  @extend .kill-box-shadow;
  border-color: $brand-primary;
}

.button-form {
  display: inline-block;
}

// *****************************************************************************
// Table
// *****************************************************************************

.table-container {
  margin: 20px 0px 50px 0px;
  .table-actions {
    padding: 12px 0px 24px 0px;
    text-align: right;
  }
  .table {
    .status_column {
      width: 150px;
    }
    .action_column {
      width: 100px;
      @extend .text-right;
      a {
        color: $brand-danger;
        &:hover,
        &:focus,
        &:active {
          color: darken($brand-danger, 10%);
        }
      }
    }
  }
  &.no-actions {
    margin-top: 20px;
  }
  p {
    @extend .text-center;
  }
}

div:not(.tab-pane) {
  > .table-container {
    @extend .box;
  }
}

.table-center {
  text-align: center;
  th {
    text-align: center;
  }
  th, td {
    vertical-align: middle !important;
  }
}

#table-nodes {
  > thead {
    > tr {
      > th {
        vertical-align: middle;
      }
    }
  }
  > tbody {
    > tr {
      > td {
        vertical-align: middle;
        ul {
          padding-left: 18px;
        }
      }
    }
  }
}

// *****************************************************************************
// Flicker on Load Fix for Glyphicons
// *****************************************************************************

.glyphicon {
  width: 14px;
  height: 14px;
}

// *****************************************************************************
// Footer
// *****************************************************************************

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  min-height: 50px;
  background-color: #666;
  color: #ccc;
  padding: 14px;
  a,
  a:hover,
  a:focus,
  a:active {
    color: #fff;
  }
}

// *****************************************************************************
// Progress bar
// *****************************************************************************

.progress-bar-background {
  height: 20px;
  width: 100%;
  text-align: center;
  position: relative;
  background-color: lighten($brand-primary, 15%);
  z-index: 1;
  > span {
    position: relative;
    color: #fff;
    z-index: 3;
  }
}

.progress-bar {
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
}

// Radial progress bar

.pie_progress {
  width: 160px;
  margin: 10px auto;
}

@media all and (max-width: 768px) {
  .pie_progress {
    width: 80%;
    max-width: 300px;
  }
}

// *****************************************************************************
// Loading screen
// *****************************************************************************

.miraload {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 5050;
  .hexagon {
    overflow: hidden;
    visibility: hidden;
    @include prefix(transform, rotate(30deg), webkit moz ms o);
    position: fixed;
    top: calc(50% - 100px);
    left: calc(50% - 150px);
    opacity: 0.8;
    width: 300px;
    height: 150px;
  }
  .hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    @include prefix(transform, rotate(-60deg), webkit moz ms o);
  }
  .hexagon-in2 {
    width: 100%;
    background: linear-gradient(rgba(220, 45, 65, .2), rgba(220, 45, 65, 0.2)), url("/static/img/triangles.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    visibility: visible;
    @include prefix(transform, rotate(-60deg), webkit moz ms o);
  }
}
                                
