
{% macro render_form(form, action='') %}
<form method="post" action="{{ action }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {% for field in form %}
      {% if not field.flags.hidden %}
      {{ render_field(field) }}
      {% endif %}
    {% endfor %}
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
{% endmacro %}

{% macro render_field(field) %}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label for="{{ field.id }}" class="control-label">{{ field.label }}</label>
    {{ field(class_="form-control")|safe }}
  {% if field.errors %}
    <span class="help-block">
    {% for error in field.errors %}
      {{ error }}
    {% endfor %}
    </span>
  {% endif %}
  </div>
{% endmacro %}

