{% if session.user_id %}
	<ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ username }}<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#" data-toggle="modal" data-target="#change_pw">Change Password</a></li>
	      <li><a href="{{ url_for('ui.logout') }}">Logout</a></li>
            </ul>
          </li>
	</ul>
{% else %}
	<ul class="nav navbar-nav navbar-right">
	  <li><a href="{{ url_for('ui.login') }}">Login</a></li>
	</ul>
{% endif %}

