<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>KQueen</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    {% include "ui/partial/favicon.html" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.min.css') }}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" target="_self"><img class="mirantis-logo" src="/static/img/logo.svg" alt="Mirantis"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% include "ui/partial/menu.html" %}
        </div>
      </div>
    </nav>

    <input id="BaseURI" type="hidden" value="/">
    <div id="flash-container">
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div id="flash-message" class="alert alert-box-fixed0 alert-box-fixed alert-dismissible alert-{{ category }}" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
      </div>
    {% endfor %}
    </div>

    <div id="content">
      <div class="container">
        <div class="page-header">
         <h2>{% block page_header %}{% endblock %}</h2>
        </div>
        {% block content %}{% endblock %}
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/all.min.js') }}"></script>
    {% block extrajs %}{% endblock %}

    {# comment this out if you have no swag #}
    {% include "ui/partial/miraload.html" %}

    {#
    {% include "ui/partial/footer.html" %}
    #}
  </body>
</html>
