{% extends "ui/base.html" %}

{% block page_header %}
Cluster - {{ cluster.name }}
{% endblock %}


{% block content %}

<div class="well clearfix">
<div class="text-center">
<div class="col-sm-4">
  <a href="{{ url_for('api.cluster_kubeconfig', cluster_id=cluster.id) }}">Download kubeconfig</a>
</div>
<div class="col-sm-4" id="state">
  State: {{ cluster.state }}
</div>
<div class="col-sm-4" id="progress">
  {% if cluster.state == 'Deploying' %}
    {% set initial_progress = 1 %}
  {% else %}
    {% set initial_progress = 100 %}
  {% endif %}
  <div class="progress-bar" style="width: {{ initial_progress }}%;">{{ initial_progress }}%</div>
</div>
</div>
</div>

{% if cluster.name != 'testing' %}
<script>
(function(){
  var progressRefreshFn = function(){
    $.get("{{ url_for('ui.cluster_deployment_status', cluster_id=cluster.id) }}", function(res){
      console.log(JSON.stringify(res));
      $('#progress .progress-bar').css('width', res.progress + '%').html(res.progress + '%');
      if(res.result != 'Deploying'){
        clearInterval(interval);
      }
    });
  };
  var interval = setInterval(progressRefreshFn, 5000);
})();
</script>
{% endif %}

<h3>Nodes</h3>

<div class="table-container">
  <table class="table" id="table-nodes">
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th>IP</th>
      <th>OS</th>
      <th>Kernel</th>
      <th>Status</th>
      <th colspan=2>Pods</th>
    </tr>
    {% for node in status.nodes %}
    <tr>
      <td>{{ node['metadata']['name'] }}</td>
      <td>{{ node['status']['node_info']['kubelet_version'] }}</td>
      <td>
        <ul>
          {% for a in node['status']['addresses'] %}
          <li>{{ a['type'] }}: {{ a['address'] }}</li>
          {% endfor %}
        </ul>
      </td>
      <td>{{ node['status']['node_info']['os_image'] }}</td>
      <td>{{ node['status']['node_info']['kernel_version'] }}</td>
      <td>
        {% for s in node['status']['conditions'] %}
          {% if s['type'] != 'Ready' %}
            {% if s['status'] == 'False' %}
              {% set icon = 'ok' %}
            {% else %}
              {% set icon = 'remove' %}
            {% endif %}
          <span class="glyphicon glyphicon-{{ icon }}" aria-hidden="true"></span>&nbsp;{{ s['type'] }}<br>
          {% endif %}
        {% endfor %}
      </td>
      {% set maxpods = node['status']['allocatable']['pods']|int %}
      {% set pods = status.nodes_pods.get(node['metadata']['name'])|int %}
      {% set percentage = (pods/maxpods*100)|int %}
      <td>
        <div>{{ pods }}/{{ maxpods }}</div>
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentage }}%;">{{ percentage }}%</div>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

<h3>Workload</h3>

<div class="table-container">
  <table class="table" id="table-nodes">
    <tr>
      <th>Name</th>
      <th>Namespace</th>
      <th>Replicas</th>
      <th>Containers</th>
    </tr>
    {% for deployment in status.deployments %}
    <tr>
    <td>{{ deployment['metadata']['name'] }}</td>
    <td>{{ deployment['metadata']['namespace'] }}</td>
    <td>
      {% set ready = deployment.get('status', {}).get('ready_replicas', 'N')|int %}
      {% set desired = deployment.get('spec', {}).get('replicas', 'N')|int %}
      {% if desired > 0 %}
        {% set percentage = (ready/desired*100)|int %}
      {% else %}
        {% set percentage = 0|int %}
      {% endif %}
      <div align="center">{{ ready  }}/{{ desired }}</div>
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentage }}%;">{{ percentage }}%</div>
    </td>
    <td>
    {% set containers = deployment.get('spec', {}).get('template', {}).get('spec', {}).get('containers') %}
    <ul>
    {% for container in containers %}
      <li><b>{{ container['name'] }}</b> {{ container['image'] }}</li>
    {% endfor %}
    </ul>
    </td>
    </tr>
    {% endfor %}
  </table>
</div>


<h3>Services</h3>

<div class="table-container">
  <table class="table" id="table-nodes">
    <tr>
      <th>Name</th>
      <th>Namespace</th>
      <th>Cluster IP</th>
      <th>Ports</th>
      <th>External IP</th>
    </tr>
    {% for service in status.services %}
    <tr>
    <td>{{ service['metadata']['name'] }}</td>
    <td>{{ service['metadata']['namespace'] }}</td>
    <td><a href="http://{{ service['spec']['cluster_ip'] }}">{{ service['spec']['cluster_ip'] }}</a></td>
    <td>
      <ul>
      {% for port in service['spec']['ports'] %}
        <li>{{ port['port'] }}/{{ port['protocol'] }} {{ port.get('name', '') }}</li>
      {% endfor %}
      </ul>
    </td>
    <td>
    {% if service.get('status', {}).get('load_balancer', {}).get('ingress') %}
      {% for endpoint in service['status']['load_balancer'].get('ingress', []) %}
        {% if endpoint.get('hostname') %}
          {% for port in service['spec']['ports'] %}
            <a href="{{ port['name'] }}://{{ endpoint['hostname'] }}:{{ port['port'] }}">{{ endpoint['hostname'] }}:{{ port['port'] }} {{ port['name']|upper }}</a>
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endif %}
    </td>
    </tr>
    {% endfor %}
  </table>
</div>





{% endblock %}
