{% extends "ui/base.html" %}

{% from "ui/partial/form.html" import render_form %}

{% block page_header %}
Cluster {{ cluster.name }} detail
{% endblock %}


{% block content %}
<div class="box overview_detail_top">
  <div class="col-sm-4">
    <a href="{{ url_for('api.cluster_kubeconfig', cluster_id=cluster.id) }}" class="btn btn-primary btn-xs">Download kubeconfig</a>
  </div>
  <div class="col-sm-4" id="state">
    <a class="btn btn-{{ state_class }} btn-xs" style="pointer-events: none;">State: {{ cluster.state }}</a>
  </div>
  <div class="col-sm-4" id="progress">
    {% if cluster.state == config.CLUSTER_PROVISIONING_STATE %}
      {% set initial_progress = 1 %}
    {% else %}
      {% set initial_progress = 100 %}
    {% endif %}
    <div class="progress-bar-background">
      <span>{% if cluster.state == config.CLUSTER_PROVISIONING_STATE %}{{ initial_progress }}%{% else %}Done{% endif %}</span>
      <div class="progress-bar" style="width: {{ initial_progress }}%;"></div>
    </div>
  </div>
</div>

<div class="box overview_detail_bot">
  <div class="col-sm-2 col-sm-offset-1 clearfix">
    <div class="pie_progress" role="progressbar" data-goal="{{ status.overview.namespaces }}" aria-valuemax="{{ status.overview.namespaces }}">
      <div class="pie_progress__number">0</div>
      <div class="pie_progress__label">Namespaces</div>
    </div>
  </div>
  <div class="col-sm-2 clearfix">
    <div class="pie_progress" role="progressbar" data-goal="{{ status.overview.nodes }}" aria-valuemax="{{ status.overview.nodes }}">
      <div class="pie_progress__number">0</div>
      <div class="pie_progress__label">Nodes</div>
    </div>
  </div>
  <div class="col-sm-2 clearfix">
    <div class="pie_progress" role="progressbar" data-goal="{{ status.overview.deployments }}" aria-valuemax="{{ status.overview.deployments }}"> 
      <div class="pie_progress__number">0</div>
      <div class="pie_progress__label">Deployments</div>
    </div>
  </div>
  {% set podcount = status.pods|length %}
  <div class="col-sm-2 clearfix">
    <div class="pie_progress" role="progressbar" data-goal="{{ status.overview.pods }}" aria-valuemax="{{ status.overview.pods }}"> 
      <div class="pie_progress__number">0</div>
      <div class="pie_progress__label">Pods</div>
    </div>
  </div>
  {% set servicecount = status.services|length %}
  <div class="col-sm-2 clearfix">
    <div class="pie_progress" role="progressbar" data-goal="{{ status.overview.services }}" aria-valuemax="{{ status.overview.services }}"> 
      <div class="pie_progress__number">0</div>
      <div class="pie_progress__label">Services</div>
    </div>
  </div>
</div>

<ul class="nav nav-tabs{% if cluster.state != config.CLUSTER_OK_STATE %} hidden{% endif %}">
  <li role="presentation" class="active"><a data-toggle="tab" href="#status" data-tabcode="#statusTab">Status</a></li>
  <li role="presentation"><a data-toggle="tab" href="#topology" data-tabcode="#topologyTab">Topology</a></li>
  <li role="presentation"><a data-toggle="tab" href="#addons" data-tabcode="#addonsTab">Addons</a></li>
</ul>

<div class="tab-content clearfix{% if cluster.state != config.CLUSTER_OK_STATE %} hidden{% endif %}">
  {# STATUS TAB #}
  <div class="tab-pane active" id="status">
    <h3>Nodes</h3>
    <div class="table-container">
      <table class="table table-hover no-actions" id="table-nodes">
        <thead>
          <tr>
            <th>Name</th>
            <th>IP</th>
            <th>OS</th>
            <th class="status_column">Status</th>
            <th>Size</th>
            <th colspan=2 class="action_column">Pods</th>
          </tr>
        </thead>
        <tbody>
          {% for node in status.nodes %}
          <tr>
            <td>{{ node.name }}</td>
            <td>
              <ul>
                {% for ip in node.ip %}
                  <li>{{ ip }}</li>
                {% endfor %}
              </ul>
            </td>
            <td>{{ node.os.os }}<br>{{ node.os.kernel }}</td>
            <td class="status_column">
              {% for status in node.status %}
              <abbr title="{{ status.type }}"><i class="mdi mdi-{{ status.icon }}" style="font-size: 18px;" aria-hidden="true"></i></abbr>
              {% endfor %}
            </td>
            <td>
              {{ node.size }}
            </td>
            <td class="action_column">
              <div class="progress-bar-background">
                <span>{{ node.pods.pods }}/{{ node.pods.maxpods }}</span>
                <div class="progress-bar" style="width: {{ node.pods.percentage }}%;"></div>
              </div>
            </td>
          </tr>
          {% else %}
          <tr style="pointer-events: none;"><td colspan="6" class="text-center">No Items</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
    <h3>Deployments</h3>
    <div class="table-container">
      <table class="table table-hover no-actions" id="table-nodes">
        <thead>
          <tr>
            <th>Name</th>
            <th>Namespace</th>
            <th>Replicas</th>
            <th>Containers</th>
          </tr>
        </thead>
        <tbody>
          {% for deployment in status.deployments %}
          <tr>
            <td>{{ deployment.name }}</td>
            <td>{{ deployment.namespace }}</td>
            <td>
              <div class="progress-bar-background">
                <span>{{ deployment.replicas.ready }}/{{ deployment.replicas.desired }}</span>
                <div class="progress-bar" style="width: {{ deployment.replicas.percentage }}%;"></div>
              </div>
            </td>
            <td>
              <ul>
                {% for container in deployment.containers %}
                <li><b>{{ container.name }}</b> {{ container.image }}</li>
                {% endfor %}
              </ul>
            </td>
          </tr>
          {% else %}
          <tr style="pointer-events: none;"><td colspan="4" class="text-center">No Items</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <h3>Services</h3>
    <div class="table-container">
      <table class="table table-hover no-actions" id="table-nodes">
        <thead>
          <tr>
            <th>Name</th>
            <th>Namespace</th>
            <th>Cluster IP</th>
            <th>Ports</th>
            <th>External IP</th>
          </tr>
        </thead>
        <tbody>
          {% for service in status.services %}
          <tr>
            <td>{{ service.name }}</td>
            <td>{{ service.namespace }}</td>
            <td><a href="http://{{ service.cluster_ip }}">{{ service.cluster_ip }}</a></td>
            <td>
              <ul>
                {% for port in service.ports %}
                <li>{{ port }}</li>
                {% endfor %}
              </ul>
            </td>
            <td>
              <ul>
                {% for external_ip in service.external_ip %}
                <li style="position: relative;">
                  <a href="{{ external_ip }}">{{ external_ip|truncate(30, True) }}</a>
                  <a title="Copy to clipboard" class="clipboard pull-right" style="cursor: pointer;" data-clipboard-text="{{ external_ip }}">
                    <i class="mdi mdi-clipboard-outline" style="font-size: 18px; position: absolute; top: -3px; right: 0px;"></i>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
          {% else %}
          <tr style="pointer-events: none;"><td colspan="6" class="text-center">No Items</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {# TOPOLOGY TAB #}
  <div class="tab-pane" id="topology">
    <div class="col-xs-9">
      <div id="ForcedLayoutGraphContainer">
        <div id="topology-graph"></div>
      </div>
      <div id="HiveGraphContainer">
        <div id="HiveChart"></div>
      </div>
    </div>
    <div class="col-xs-3 topology-tooltip">
      <h3>Topology Layout</h3>
      <div class="btn-group">
        <button id="ForcedLayoutGraphBtn" type="button" class="btn btn-primary active" disabled>Force-directed</button>
        <button id="HiveGraphBtn" type="button" class="btn btn-primary" disabled>Hive Plot</button>
      </div>
      <h3>Topology Resources</h3>
      <div class="topology-legend">
        <div>
          <svg class="kindInfo">
            <use xlink:href="#vertex-Pod" x="15" y="15"></use>
          </svg>
          <div>Pods</div>
        </div>
        <div>
          <svg class="kindInfo">
            <use xlink:href="#vertex-Service" x="15" y="15"></use>
          </svg>
          <div>Services</div>
        </div>
        <div>
          <svg class="kindInfo">
            <use xlink:href="#vertex-Node" x="15" y="15"></use>
          </svg>
          <div>Nodes</div>
        </div>
        <br>
        <div>
          <svg class="kindInfo">
            <use xlink:href="#vertex-Deployment" x="15" y="15"></use>
          </svg>
          <div>Deploys</div>
        </div>
        <div>
          <svg class="kindInfo">
            <use xlink:href="#vertex-Namespace" x="15" y="15"></use>
          </svg>
          <div>Namespaces</div>
        </div>

      </div>
      {#
      <h3>Topology Overview</h3>
      <div class="topology-overview">
      </div>
      #}
      <h3>Resource Detail</h3>
      <div class="resource-detail" id="resource-detail">
        None selected
      </div>
    </div>
  </div>
  {# ADDONS TAB #}
  <div class="tab-pane" id="addons">
    <h3>Active Addons</h3>
    <div class="filter-box clearfix">
      <div id="filters" class="btn-group" role="group">
        <a class="btn btn-default" data-filter="*">All</a>
        {% set tags = ['-'] %}
        {% for addon in status.addons if addon.get(tag, '-') not in tags %}
        {% set tags = tags + [addon.tag] %}
        <a class="btn btn-default" data-filter=".{{ addon.tag }}">{{ addon.tag|capitalize }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="grid clearfix">
      {% for addon in status.addons %} 
      <a href="{{ addon.link }}" class="addon-item" data-category="{{ addon.tag }}">
        <div class="item-icon" style="background-image: url('{{ addon.icon }}');"></div>
        <div class="item-label">
          <span>{{ addon.name }}</span>
        </div>
      </a>
      {% endfor %}
    </div>
    <h3>Manage Resources</h3>
    <div style="padding: 10px 0px;">
      {{ render_form(form) }}
    </div>
  </div>
</div>

<svg class="kube-topology" hidden>
  <defs>
    <g class="Node node" id="vertex-Node">
      <circle r="15"></circle>
      <text y="7">&#xe621;</text>
    </g>
    <g class="Pod node" id="vertex-Pod">
      <circle r="15"></circle>
      <text y="5" x="0.5">&#xf1b3;</text>
    </g>
    <g class="Service node" id="vertex-Service">
      <circle r="15"></circle>
      <text y="8" x="-2">&#xe61e;</text>
    </g>
    <g class="Deployment node" id="vertex-Deployment">
      <circle r="15"></circle>
      <text y="7.5" x="-1">&#xe624;</text>
    </g>
    <g class="Namespace node" id="vertex-Namespace">
      <circle r="15"></circle>
      <text y="7.5" x="-1">&#xf247;</text>
    </g>
  </defs>
</svg>
{% endblock %}

{% block extrajs %}
<script>
jQuery(document).ready(function($){
  // init Clipboard
  new Clipboard('.clipboard'); 
  // init asPieProgress
  $('.pie_progress').asPieProgress({
    namespace: 'pieProgress',
    barsize: '1',
    size: '120',
    min: 0,
    trackcolor: '#ececea',
    barcolor: '#4bbfaf',
    numberCallback(n) {
      return n;
    }
  });
  $('.pie_progress').asPieProgress('start');

  // init Isotope
  $(document).one("shown.bs.tab", "a[href='#addons']", function(e) {
    var $grid = $('.grid').isotope({
      itemSelector: '.addon-item',
      layoutMode: 'fitRows'
    });
    $('.grid').each(function() {
      var $grid = $( this );
      $grid.css('min-height', $grid.innerHeight());
    });
    // bind filter button click
    $('#filters').on( 'click', 'a', function(ev) {
    ev.preventDefault();
    var filterValue = $( this ).attr('data-filter');
      $grid.isotope({ filter: filterValue });
    });
  });

  // bind click actions
  $("#ForcedLayoutGraphBtn").on("click",function (e){
    $("#HiveGraphContainer").css("z-index","1").css("pointer-events","none");
    $("#ForcedLayoutGraphContainer").css("z-index","2").css("pointer-events","all");
    $("#HiveGraphBtn").removeClass("active");
    $("#ForcedLayoutGraphBtn").addClass("active");
  });

  $("#HiveGraphBtn").on("click",function (e){
    $("#ForcedLayoutGraphContainer").css("z-index","1").css("pointer-events","none");
    $("#HiveGraphContainer").css("z-index","2").css("pointer-events","all");
    $("#ForcedLayoutGraphBtn").removeClass("active")
    $("#HiveGraphBtn").addClass("active");
  });
});

$(document).one("shown.bs.tab", "a[href='#topology']", function(e) {
  d3.json("{{ url_for('api.cluster_topology_data', cluster_id=cluster.id) }}", function(data){
      var changeDetailBox =function (node){
        console.log(node);
        if ('item' in node) {
          $('#resource-detail').html("<dl><dt>Name</dt><dd>" + node.item.metadata.name + "</dd><dt>Kind</dt><dd>" + node.item.kind + "</dd><dt>Namespace</dt><dd>" + node.item.metadata.namespace + "</dd></dl>");
        } else {
          $('#resource-detail').html("<dl><dt>Name</dt><dd>" + node.metadata.name + "</dd><dt>Kind</dt><dd>" + node.kind + "</dd><dt>Namespace</dt><dd>" + node.metadata.namespace + "</dd></dl>");
        }
      };

      K8SVisualisations.forcedChart.init("#topology-graph", data, {nodeClickFn: changeDetailBox});
      K8SVisualisations.hiveChart.init("#HiveChart", data, {nodeClickFn: changeDetailBox});
      //$("#HiveGraphContainer").hide();
      $("#HiveGraphBtn, #ForcedLayoutGraphBtn").attr("disabled", false);
  });
});
</script>
{% if cluster.state == config.CLUSTER_PROVISIONING_STATE %}
<script>
(function(){
  var progressRefreshFn = function(){
    $.get("{{ url_for('ui.cluster_deployment_status', cluster_id=cluster.id) }}", function(res){
      console.log(JSON.stringify(res));
      $('#progress .progress-bar').css('width', res.progress + '%')
      $('#progress .progress-bar-background > span').html(res.progress + '%');
      if(res.result != config.CLUSTER_PROVISIONING_STATE){
        clearInterval(interval);
      }
    });
  };
  var interval = setInterval(progressRefreshFn, 10000);
})();
</script>
{% endif %}
{% endblock %}
