{% extends "ui/base.html" %}

{% block page_header %}Profile Details{% endblock %}

{% block content %}
<div class="box overview">
  <div class="col-sm-6 clearfix">
    <div class="pie_progress" role="progressbar" data-goal="{{ overview.cluster_health }}"{% if overview.cluster_health < 100 %} data-barcolor="#e02d3a"{% endif %}> 
      <div class="pie_progress__number">100%</div>
      <div class="pie_progress__label">Clusters</div>
    </div>
  </div>
  <div class="col-sm-6 clearfix">
    <div class="pie_progress" role="progressbar" data-goal="{{ overview.provisioner_health }}"{% if overview.provisioner_health < 100 %} data-barcolor="#e02d3a"{% endif %}> 
      <div class="pie_progress__number">100%</div>
      <div class="pie_progress__label">Provisioners</div>
    </div>
  </div>
</div>

<h3>Running clusters</h3>

<div class="table-container">
  <div class="table-actions">
    <a href="{{ url_for('ui.cluster_deploy') }}" role="button" class="btn btn-primary">Deploy cluster</a>
  </div>
  {{ clustertable }}
</div>

<h3>Available provisioners</h3>

<div class="table-container">
  <div class="table-actions">
    <a href="{{ url_for('ui.provisioner_create') }}" role="button" class="btn btn-primary">Create provisioner</a>
  </div>
  {{ provisionertable }}
</div>

{% endblock %}

{% block extrajs %}
<script>
jQuery(document).ready(function($){
  $('.pie_progress').asPieProgress({
    namespace: 'pieProgress',
    barsize: '1',
    size: '160',
    trackcolor: '#ececea',
    barcolor: '#83d3c8',
  });
  $('.pie_progress').asPieProgress('start');
});
</script>
{% endblock %}
