{% extends "ui/base.html" %}

{% block page_header %}Profile Details{% endblock %}

{% block content %}
<p>Username: {{ username }}</p>

<h3>Running clusters</h3>

<div class="table-container">
  <div class="table-actions">
    <a href="{{ url_for('ui.cluster_deploy') }}" role="button" class="btn btn-primary">Deploy cluster</a>
  </div>
  {{ clustertable }}
</div>

<h3>Available provisioners</h3>

<div class="table-container">
  <div class="table-actions">
    <a href="{{ url_for('ui.provisioner_create') }}" role="button" class="btn btn-primary">Create provisioner</a>
  </div>
  {{ provisionertable }}
</div>

{% endblock %}

